:root {
  --primary-font: "Kalam", cursive;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: var(--primary-font);
  max-height: 100vh;
}
.header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: #fde047;
}
.header .main-header {
  text-align: center;
  font-size: 2rem;
}
.section {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .section-inputbox {
  min-height: 10rem;
  min-width: 50vw;
  font-family: var(--primary-font);
  padding: 0.5rem;
  border: 1px solid black;
}

.div-button {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.translate-button {
  background-color: #fde047;
  font-family: var(--primary-font);
  margin: 2rem 5rem;
  min-height: 3rem;
  min-width: 6rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: border-radius 1s ease-in-out 100ms;
  transition: background-color 1s ease-in 100ms;
}

.translate-button:hover {
  background-color: #f59e0b;
  color: aliceblue;
  border-radius: 0rem 1rem;
  cursor: pointer;
}

.footer {
  margin: auto;
  padding: 0.2rem;
  text-align: center;
  background-color: #fde047;
}
